.about {
  margin: 0 auto;
  margin-top: 120px;
  padding: 0 20px;
  width: 1040px;
}

.subtitle {
  display: inline;
  font-family: "Arima", cursive;
  color: #032ca6;
}

.line {
  margin: 10px 0;
  width: 98%;
  height: 5px;
  background-color: #032ca6;
}

.about h3 {
  display: inline;
  font-weight: bold;
  text-align: center;
}

.description {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  padding: 30px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  text-align: center;
  line-height: 32px;
}

.image-wrapper {
  margin-top: 20px;
  height: 300px;
}
