.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  opacity: 0.95;
  z-index: 100;
}

.title {
  font-family: "Arima", cursive;
  position: absolute;
  top: 17px;
  right: 30px;
  text-align: center;
  color: #032ca6;
  font-size: 24px;
}

.menu-list {
  display: flex;
  transform: translateY(12px);
}

.menu-item {
  list-style: none;
}

a.menu-name {
  margin: 0 40px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
