.home {
  margin: 0 auto;
  margin-top: 120px;
  padding: 0 20px;
  width: 1040px;
}

.subtitle {
  font-family: "Arima", cursive;
  display: inline;
  color: #032ca6;
}

.line {
  margin: 10px 0;
  width: 98%;
  height: 5px;
  background-color: #032ca6;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px 0;
  height: 430px;
}

.card-wrapper {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 820px) {
  .card-box {
    grid-template-columns: repeat(4, 1fr);
    width: 800px;
  }
}
