.home {
  width: 1040px;
  margin: 0 auto;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 20px;
}

.card-wrapper {
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}
