.modal {
  overflow: hidden;
}

.modal button {
  position: absolute;
  top: 0;
  height: 10px;
}

.contents {
  display: flex;
}

.info {
  position: relative;
  flex: 1;
  padding: 40px 80px;
  white-space: pre-line;
}

.title {
  display: inline;
  font-weight: bold;
}

.description {
  margin: 20px 0;
  line-height: 25px;
}

.url {
  position: absolute;
  left: 80px;
  top: 90%;
  color: black;
  font-weight: bold;
}
